body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 2px solid #000;
}

.card {
    width: 100px; /* Largura da carta */
    height: 150px; /* Altura da carta */
    margin: 10px; /* Espaçamento entre as cartas */
    background-image: url("fundoCarta.jpg"); /* URL da imagem de fundo (verso da carta) */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a carta */
}